
.navbar-brand img {
  height: 25px;
  display: inline;
  margin-top: -5px;
}
.navbar-brand p {
  display: inline;
}

.dropdown-menu i {
  padding-right: 1em;
}

.randomize a img {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}

.table-actions {
  text-align: center;
  width: 6.2em;
}
