
.navbar-brand img {
  height: 25px;
  display: inline;
  margin-top: -1px;
}
.navbar-brand p {
  display: inline;
}

.dropdown-menu i {
  padding-right: 1em;
}

.randomize a img {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}

.table-actions {
  text-align: center;
  width: 6.2em;
}

/* randomizer */

.randomizer-list {
  padding-top: 2.5em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: 600;
}

.randomizer-list a {
  display: block;
  padding: 1em;
  margin-bottom: 1.2em;
  border: 2px solid #9C27B0;
  color: #9C27B0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.randomizer-list a:hover {
  color: #c8c8c8;
  background-color: #9c27b0ad;
  text-decoration: none;
}

.randomizer-result {
  padding-top: 2.5em;
  text-align: center;
  font-size: 2em;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-weight: 600;
}

.randomizer-result p {
  color: #2196f3;
}

.randomizer-result span {
  color: #3f51b5;
}
